{% extends 'base.html.j2' %}

{% block title %}
    Contact | {{ general.website_title }} 
{% endblock %}

{% block content %}

<!-- about banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">Contact Us</h2>
            </div>
        </div>
    </div>
</section>
<!-- //about banner -->

<!-- contact -->
<section class="w3l-contacts-12">
    <div class="contact-top pt-5">
        <div class="container py-lg-4">
            <div class="d-grid cont-main-top mt-lg-5 mt-4">
                <!-- contact form -->
                <div class="contacts12-main">
                    <form action="" method="post" class="main-input">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="{{ contact.field1 }}" name="w3lName" id="w3lName" required="">
                            <input type="email" name="email" placeholder="{{ contact.field2 }}" id="w3lSender" required="">
                        </div>
                        <input type="text" placeholder="{{ contact.field3 }}" name="w3lName" id="w3lName" required="">
                        <textarea placeholder="{{ contact.field4 }}" name="w3lMessage" id="w3lMessage" required=""></textarea>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary btn-style">{{ contact.button1 }}</button>
                        </div>
                    </form>
                </div>
                <!-- //contact form -->
                <!-- contact address -->
                <div class="contact">
                       <!-- map -->
        <div class="map" style="padding: 0%;">
            <iframe
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=567%20Wilson%20Rd,%20East%20Lansing,%20MI%2048824,%20United%20States+(MSU%20Group)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <!-- //map -->
                        <!--div class="social-icons-con">
                            <h4 class="mb-3">Connect with us:</h4>
                            <a href="#facebook"><span class="fab fa-facebook-square" aria-hidden="true"></span></a>
                            <a href="#twitter"><span class="fab fa-twitter-square" aria-hidden="true"></span></a>
                            <a href="#instagram"><span class="fab fa-instagram" aria-hidden="true"></span></a>
                            <a href="#linkedin"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <!-- //contact address -->
            </div>
        </div>
     
    </div>
    <br>
    <br>
</section>
<!-- //contact -->

{% endblock %}