{% extends 'base.html.j2' %}

{% block title %} 
    Current Members | {{ general.website_title }} 
{% endblock %}

{% block additional_style %}
    <style>
        .social-icon {
            font-size: 20px;
            margin-top: -23%;
        }

        .external_affiliation {
            background-color: rgb(177, 143, 232);
            inline-size: 100%;
        }
    </style>
    <!-- Rotating card-->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/css/rotating-card.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- about banner -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-people py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="banner-info-grid px-md-5" style="margin-top: 3%;">
                    <h2 class="w3l-title-breadcrumb mb-3">Meet Our Team</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- //about banner -->
    
    <!-- Team Section -->
    <div class="team-area py-5" id="people">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="text-center" style="padding-top: 5%;">
                <h1>Present Members</h1>
            </div>
            <div class="cardtainer" style="padding-top: 3%;">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {% for person in current_members %}
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container manual-flip">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <a
                                                href="members/{{ page_link(person.id) }}/{{ page_link(person.id) }}.html">
                                                <img
                                                    src="members/{{ page_link(person.id) }}/{{ person.cover_image_path }}"
                                                    onerror="this.src='website_files/images/default_face_image.jpeg'"
                                                >
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a
                                                href="members/{{ page_link(person.id) }}/{{ page_link(person.id) }}.html">
                                                {% if person.image_path %}
                                                <img  class="img-circle"
                                                    src="members/{{ page_link(person.id) }}/{{ person.image_path }}"
                                                    onerror="this.src='website_files/images/default_face_image.jpeg'"
                                                    >
                                                {% else %}
                                                 <img class="img-circle"
                                                    src="website_files/images/default_face_image.jpeg">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">
                                                    <a href="members/{{ person.id }}/{{ person.id }}.html">
                                                        {{ person.name }}</a>
                                                </h3>
                                                {% if person.academic_role %}
                                                <p class="profession">{{ person.academic_role }}</p>
                                                {% endif %}
                                                {% if person.current_project_title %}
                                                <p class="text-center" style="color:black; line-height: 16px;">{{
                                                    person.current_project_title }}
                                                </p>
                                                {% endif %}
                                                <br><br>
                                                <div class="social-icon w3l-contacts-12">
                                                    <div class="stats-container">
                                                        <div class="social-links text-center">
                                                        {% set social_links = person.social_links %}
                                                        {% if social_links %}
                                                            {% if social_links.website and social_links.website != "" %}
                                                            <a href="{{ social_links.website }}" target="_blank">
                                                                <i class="fa fa-globe fa-fw"></i></a>
                                                            {% endif %}
                                                            {% if social_links.twitter_handle and social_links.twitter_handle != ""
                                                            %}
                                                            <a href="https://www.twitter.com/{{ social_links.twitter_handle}}" target="_blank">
                                                                <i class="fa fa-twitter fa-fw"></i></a>
                                                            {% endif %}
                                                            {% if social_links.linkedin_handle and social_links.linkedin_handle !=
                                                            "" %}
                                                            <a href="https://www.linkedin.com/in/{{social_links.linkedin_handle }}" target="_blank">
                                                                <i class="fab fa-linkedin-in"></i></a>
                                                            {% endif %}
                                                            {% if social_links.github_handle and social_links.github_handle != "" %}
                                                            <a href="https://www.github.com/{{ social_links.github_handle }}" target="_blank">
                                                                <i class="fa fa-github"></i></a>
                                                            {% endif %}
                                                            {% if social_links.email and social_links.email != "" %}
                                                            <a href="mailto:{{ social_links.email }}" target="_blank">
                                                                <i class="fa fa-envelope"></i></a>
                                                            {% endif %}
                                                            {% if social_links.orcid and social_links.orcid != "" %}
                                                                <a href="https://orcid.org/{{ social_links.orcid  }}"
                                                                    target="_blank">
                                                                    <i class="fa fa-newspaper"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_script %}
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <script type="text/javascript">
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();
            $('a.scroll-down').click(function (e) {
                e.preventDefault();
                scroll_target = $(this).data('href');
                $('html, body').animate({
                    scrollTop: $(scroll_target).offset().top - 60
                }, 1000);
            });
        });
        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }
    </script>
    <script>
    function handleError(img, id) {
        img.src = 'website_files/images/default_face_image.jpeg';
    }
    </script>
{% endblock %}