<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29 d-flex justify-content-center justify-md-start">
                <div class="col-lg-6 col-md-6 footer-list-29">
                    <h6 class="footer-title-29">Contact Info </h6>
                    {% if general.address != "" %}
                    <p class="mb-2 pe-xl-5">Address : {{ general.address }}
                    </p>
                    {% endif %}
                    {% if general.phone != "" %}
                    <p class="mb-2">Phone Number : <a href="tel:{{ general.address }}">{{ general.phone }}</a></p>
                    {% endif %}
                    {% if general.email != "" %}
                    <p class="mb-2">Email : <a href="mailto:{{ general.email }}">{{ general.email }}</a></p>
                    {% endif %}
                </div>
                <div class="col-lg-2 col-md-3 col-12 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        {% for link_text, link_url in general.useful_links.items() %}
                        <li><a href="{{ link_url }}" target="_blank">{{ link_text }}</a></li>
                        {% endfor %}

                    </ul>
                </div>

            </div>
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">{{general.footer_message}} <br>
                Template by <a href="https://w3layouts.com/" target="_blank">W3Layouts</a></p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
