<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="{{ relativize_link('./index.html') }}">
                    <!--span class="fa fa-lightbulb"></span--> {{ general.logo_title }}
                </a>
            </h1>
            <button class="navbar-toggler collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    {% for page in general["navigation_bar"] %}
                        {% set link = "./" ~ page_link(page) ~ ".html" %}
                        <li class="nav-item">
                            {% if page not in general %}
                                {% if page == "index" %}
                                    <a class="nav-link" href="{{ relativize_link(link) }}">
                                        Home <span class="sr-only">(current)</span>
                                    </a>
                                {% else %}
                                    <a class="nav-link" href="{{ relativize_link(link) }}">
                                        {{ page }} <span class="sr-only">(current)</span>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if page == "Research" %}
                                    <a class="nav-link dropdown-toggle"
                                    href="{{ relativize_link(link) }}"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                        {{ page }} <span class="fas fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for sub_page in general[page] %}
                                            {% set sub_page_link = "./sub_research/" ~ page_link(sub_page)|lower ~ ".html" %}
                                            <a class="dropdown-item" href="{{ relativize_link(sub_page_link) }}">
                                                {{ sub_page }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% elif page == "People" %}
                                    <a class="nav-link dropdown-toggle"
                                        id="navbarDropdown"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                            {{ page }} <span class="fas fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for sub_page in general[page] %}
                                            {% set sub_page_link = page_link(sub_page)|lower ~ ".html" %}
                                            <a class="dropdown-item" href="{{ relativize_link(sub_page_link) }}">
                                                {{ sub_page }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>