{% extends 'base.html.j2' %}
{% from 'macros.html.j2' import format_years %}

{% block title %}
{{member_data["full_name"]}} | {{ general.website_title }}
{% endblock %}

{% block additional_style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <!-- about banner -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="banner-info-grid px-md-5">
                    <h2 class="w3l-title-breadcrumb mb-3">Get to know me</h2>
                    <!--p class="inner-page-para px-lg-5">Feel free to learn more about our team and company on this page.
                        We are always happy to help you!</p-->
                </div>
            </div>
        </div>
    </section>
    <!-- //about banner -->

    <!-- About Section Method -->
    <section class="w3l-content-6" id="skills">
        <div class="content-6-mian py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="content-info-in row">
                    <div class="content-gd col-lg-6 pe-lg-5">
                        <img src="{{ member_data["image_path"] }}" alt="" class="img-fluid" style="max-width: 80%;" />
                    </div>
                    <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self ps-lg-5">
                        <h4 class="w3l-title-main mb-lg-4 mb-3" style="color: black;">
                        {{member_data["full_name"]}}
                        </h4>
                        <p class="my-4 pe-lg-5">{{ member_data["introduction"] }}</p>
                        {% set social_links = socials[member_id] %}
                        {% if social_links %}
                        <section class="w3l-contacts-12">
                            <div class="container py-lg-4">
                                <div class="social-icons-con" style="text-align:center; padding-top:3%;">
                                    <h4 class="mb-3">Connect with me:</h4>
                                    {% if 'website' in social_links and social_links['website'] != "" %}
                                        <a href="{{ social_links['website'] }}" target="_blank"><span class="fa fa-globe" aria-hidden="true"></span></a>
                                    {% endif %}

                                    {% if 'github_handle' in social_links and social_links['github_handle'] != "" %}
                                        <a href="https://github.com/{{ social_links['github_handle'] }}" target="_blank"><span class="fab fa-github-square" aria-hidden="true"></span></a>
                                    {% endif %}

                                    {% if 'twitter_handle' in social_links and social_links['twitter_handle'] != "" %}
                                        <a href="https://twitter.com/{{ social_links['twitter_handle'] }}" target="_blank"><span class="fab fa-twitter-square" aria-hidden="true"></span></a>
                                    {% endif %}

                                    {% if 'linkedin_handle' in social_links and social_links['linkedin_handle'] != "" %}
                                        <a href="https://linkedin.com/in/{{ social_links['linkedin_handle'] }}" target="_blank"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a>
                                    {% endif %}

                                    {% if 'orcid' in social_links and social_links['orcid'] != "" %}
                                        <a href="https://orcid.org/{{ social_links['orcid'] }}" target="_blank"><span class="fa fa-newspaper" aria-hidden="true"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                            {#
                            {% set docs = documents[member_id] %}
                            {% if docs %}
                            {% if docs['curriculum_vitae'] != "" and not
                            docs['curriculum_vitae'].strip().lower().startswith("enter") %}
                            <div style="text-align:center; padding-top:0%; padding-bottom:5%;">
                                <a href="{{docs['curriculum_vitae']}}" target="_blank">
                                    <button class="click_button"><span>Download CV</span></button>
                                </a>
                            </div>
                            {% endif %}
                            {% endif %}
                            #}
                        </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->

    <style>
        th,
        td {
            color: var(--font-color);
        }

        @media only screen and (min-width: 600px) {
            .infotable {
                padding-left: 10%;
            }
        }
    </style>

    <section style="padding-left: 10%; padding-right:10%;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% if "current_project_title" in member_data %}
                    <tr>
                        <th scope="row">Project&#40;s&#41;:</th>
                        <td>{{ member_data.current_project_title }}</td>
                    </tr>
                {% endif %}
                {% if "academic_role" in member_data and member_data.academic_role and member_data.academic_role != "" and not member_data.academic_role.strip().lower().startswith("enter") %}
                    <tr>
                        <th scope="row">Primary Role:</th>
                        <td>{{ member_data.academic_role }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>

    <section style="padding-left: 10%; padding-right:10%;">
        {% if education[member_id] %}
            <div style="padding-top:5%;" class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
                <h3 class="w3l-title-main">{{ section_headings["education"] }}</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Institution</th>
                        <th scope="col">Years</th>
                        <th scope="col">Qualification</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in education[member_id]['info'] %}
                        <tr>
                            <td>{{ row['institution'] }}</td>
                            <td>{{ format_years(row) }}</td>
                            <td>{{ row["degree"] }} in {{ row["subject"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if experience[member_id] %}
            <div style="padding-top:5%;" class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
                <h3 class="w3l-title-main">{{ section_headings["experiences"] }}</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Institute</th>
                        <th scope="col">Years</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in experience[member_id]['info'] %}
                        <tr>
                            <td>{{ row['institution'] }}</td>
                            <td>{{ format_years(row) }}</td>
                            <td>{{ row["role"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if projects[member_id] %}
            <div style="padding-top:5%;" class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
                <h3 class="w3l-title-main">{{ section_headings["projects"] }}</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Years</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in projects[member_id]['info']  %}
                        <tr>
                            <td>{{ row["project_title"] }}</td>
                            <td>{{ format_years(row) }}</td>
                            <td>{{ row["description"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if awards[member_id] %}
            <div style="padding-top:5%;" class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
                <h3 class="w3l-title-main">{{ section_headings["awards"] }}</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Given For</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in awards[member_id]["info"] %}
                        <tr>
                            <td>{{ row["award_name"] }}</td>
                            <td>{{ format_years(row) }}</td>
                            <td>{{ row["description"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if outreach[member_id] %}
            <div style="padding-top:5%;" class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
                <h3 class="w3l-title-main">{{ section_headings["outreach"] }}</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Program Name</th>
                        <th scope="col">Year</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in outreach[member_id]['info'] %}
                        <tr>
                            <td>{{ row["program_name"] }}</td>
                            <td>{{ format_years(row) }}</td>
                            <td>{{ row["description"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>

    <!-- Research and News -->
    <div class="content-info-in row">
        {% set research_articles = [] %}
        {% set news_articles = [] %}

        {% for key, article in content.items() %}
            {% if member_id in article.people_involved_ids %}
                {% if article.category != 'News' %}
                    {% set _ = research_articles.append(article) %}
                {% else %}
                    {% set _ = news_articles.append(article) %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if research_articles %}
            <section style="padding-left: 10%; padding-right:10%;">
                <div class="content-gd col-lg-6 mx-auto infotable">
                    <div class="col-lg-7 right-side-bar mt-lg-6 mt-6 ps-lg-5">
                        <aside class="posts p-4">
                            <div style="padding-top: 5%; text-align: center;"
                                 class="title-heading-w3 mx-auto mb-sm-5 mb-4 pb-xl-4">
                                <h3 class="w3l-title-main text-center">Research</h3>
                            </div>
                            <ul class="category">
                                {% for article in research_articles %}
                                    {% if article.category == 'Software' %}
                                        {% set link_path = '../../sub_research'|replace(' ', '_')|lower %}
                                    {% else %}
                                        {% set link_path = '../../sub_research/'+ article.category|replace(' ', '_')|lower %}
                                    {%endif%}
                                    <li>
                                        <a href="{{link_path}}/{{ article.article_id|lower }}.html"
                                           style="width: 100%; display: flex; justify-content: center;">
                                            <span class="fas fa-angle-right"
                                                  style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; padding-right: 5px;"> {{ article.title }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </section>
        {% endif %}
        {% if news_articles %}
            <section style="padding-left: 10%; padding-right:10%;">
                <div class="content-gd col-lg-6 mx-auto infotable">
                    <div class="col-lg-7 right-side-bar mt-lg-0 mt-5 ps-lg-5">
                        <aside class="posts p-4">
                            <div style="padding-top: 5%; text-align: center;"
                                 class="title-heading-w3 mx-auto mb-sm-5 mb-4 pb-xl-4">
                                <h3 class="w3l-title-main text-center">News</h3>
                            </div>
                            <ul class="category">
                                {% for article in news_articles %}
                                    <li>
                                        <a href="../../news/{{ article.article_id|lower }}.html"
                                           style="width: 100%; display: flex; justify-content: center;">
                                            <span class="fas fa-angle-right"
                                                  style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; padding-right: 5px;"> {{ article.title }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}

{% block additional_script %}
    <!-- magnific popup -->
    <script src="../../assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->
{% endblock %}
