{% extends 'base.html.j2' %}

{% block title %}
    {% if "nick_name" in basic_info and basic_info.nick_name != "" and not basic_info.nick_name.strip().lower().startswith("enter") %}
        {{ basic_info.nick_name }}
    {% else %}
        {{ basic_info.first_name }}
    {% endif %}
    | {{ general.website_title }}
{% endblock %}

{% block additional_style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <!-- about banner -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="banner-info-grid px-md-5">
                    <h2 class="w3l-title-breadcrumb mb-3">Get to know me</h2>
                    <!--p class="inner-page-para px-lg-5">Feel free to learn more about our team and company on this page.
                        We are always happy to help you!</p-->
                </div>
            </div>
        </div>
    </section>
    <!-- //about banner -->

    <!-- About Section Method -->
    <section class="w3l-content-6" id="skills">
        <div class="content-6-mian py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="content-info-in row">
                    <div class="content-gd col-lg-6 pe-lg-5">
                        <img src="{{ member_data.image_path }}" alt="" class="img-fluid" style="max-width: 80%;"/>
                    </div>
                    <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self ps-lg-5">
                        <h4 class="w3l-title-main mb-lg-4 mb-3" style="color: black;">{% if "nick_name" in basic_info and basic_info.nick_name != "" and not
        basic_info.nick_name.strip().lower().startswith("enter") %}
                            {{ basic_info.nick_name }}
                        {% else %}
                            {{ basic_info.first_name }}

                        {% endif %}{{ basic_info.last_name }}</h4>
                        <p class="my-4 pe-lg-5">{{ basic_info.introduction }}</p>
                        {% if "social_links" in member_data %}
                            {% set social_links = member_data.social_links %}
                            <section class="w3l-contacts-12">

                                <div class="container py-lg-4">

                                    <div class="social-icons-con" style="text-align:center; padding-top:3%;">
                                        <h4 class="mb-3">Connect with me:</h4>
                                        {% if "website" in social_links and social_links['website'] != "" and not
                                        social_links['website'].strip().lower().startswith("enter") %}
                                            <a href="{{ social_links['website'] }}" target="_blank"><span
                                                    class="fa fa-globe"
                                                    aria-hidden="true"></span></a>
                                        {% endif %}
                                        {% if "github_handle" in social_links and social_links['github_handle'] != "" and not
                                        social_links['github_handle'].strip().lower().startswith("enter") %}
                                            <a href="https://github.com/{{ social_links['github_handle'] }}" target="_blank"><span
                                                    class="fab fa-github-square" aria-hidden="true"></span></a>
                                        {% endif %}
                                        {% if "twitter_handle" in social_links and social_links['twitter_handle'] != "" and not
                                        social_links['twitter_handle'].strip().lower().startswith("enter") %}
                                            <a href="https://twitter.com/{{ social_links['twitter_handle'] }}" target="_blank"><span
                                                    class="fab fa-twitter-square" aria-hidden="true"></span></a>
                                        {% endif %}
                                        {% if "linkedin_handle" in social_links and social_links['linkedin_handle'] != "" and not
                                        social_links['linkedin_handle'].strip().lower().startswith("enter") %}
                                            <a href="https://linkedin.com/in/{{ social_links['linkedin_handle'] }}" target="_blank"><span
                                                    class="fab fa-linkedin-in" aria-hidden="true"></span></a>
                                        {% endif %}
                                        {% if "orcid" in social_links and social_links['orcid'] != "" and not
                                        social_links['orcid'].strip().lower().startswith("enter") %}
                                            <a href="https://orcid.org/{{ social_links['orcid'] }}"
                                               target="_blank"><span
                                                    class="fa fa-newspaper" aria-hidden="true"></span></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->

    <style>
        th,
        td {
            color: var(--font-color);
        }

        @media only screen and (min-width: 600px) {
            .infotable {
                padding-left: 10%;
            }
        }
    </style>

    <section style="padding-left: 10%; padding-right:10%;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% if "current_project_title" in member_data %}
                <tr>
                    <th scope="row">Project&#40;s&#41;:</th>
                    <td>{{ member_data.current_project_title }}</td>
                </tr>
            {% endif %}
{#            {% if "org" in member_data and member_data.org != "" and not member_data.org.strip().lower().startswith("enter") %}#}
{#                <tr>#}
{#                    <th scope="row">Organization:</th>#}
{#                    <td>{{ member_data.org }}#}
{##}
{#                        {% if "group_end_date" in member_data and member_data.group_end_date %}#}
{#                            {% if "group_end_date" in member_data and member_data.group_end_date != "" and not member_data.group_start_date.strip().lower().startswith("enter") %}#}
{#                                {% set start_month = member_data.group_start_date.split('-')[0] | int %}#}
{#                                {% set start_year = member_data.group_start_date.split('-')[2] | int %}#}
{#                                {% set end_month = member_data.group_end_date.split('-')[0] | int %}#}
{#                                {% set end_year = member_data.group_end_date.split('-')[2] | int %}#}
{##}
{#                                {% set start_month_name = '' %}#}
{#                                {% set end_month_name = '' %}#}
{##}
{#                                {% if start_month == 1 %}#}
{#                                    {% set start_month_name = 'Jan' %}#}
{#                                {% elif start_month == 2 %}#}
{#                                    {% set start_month_name = 'Feb' %}#}
{#                                {% elif start_month == 3 %}#}
{#                                    {% set start_month_name = 'Mar' %}#}
{#                                {% elif start_month == 4 %}#}
{#                                    {% set start_month_name = 'Apr' %}#}
{#                                {% elif start_month == 5 %}#}
{#                                    {% set start_month_name = 'May' %}#}
{#                                {% elif start_month == 6 %}#}
{#                                    {% set start_month_name = 'Jun' %}#}
{#                                {% elif start_month == 7 %}#}
{#                                    {% set start_month_name = 'Jul' %}#}
{#                                {% elif start_month == 8 %}#}
{#                                    {% set start_month_name = 'Aug' %}#}
{#                                {% elif start_month == 9 %}#}
{#                                    {% set start_month_name = 'Sep' %}#}
{#                                {% elif start_month == 10 %}#}
{#                                    {% set start_month_name = 'Oct' %}#}
{#                                {% elif start_month == 11 %}#}
{#                                    {% set start_month_name = 'Nov' %}#}
{#                                {% elif start_month == 12 %}#}
{#                                    {% set start_month_name = 'Dec' %}#}
{#                                {% endif %}#}
{##}
{#                                {% if end_month == 1 %}#}
{#                                    {% set end_month_name = 'Jan' %}#}
{#                                {% elif end_month == 2 %}#}
{#                                    {% set end_month_name = 'Feb' %}#}
{#                                {% elif end_month == 3 %}#}
{#                                    {% set end_month_name = 'Mar' %}#}
{#                                {% elif end_month == 4 %}#}
{#                                    {% set end_month_name = 'Apr' %}#}
{#                                {% elif end_month == 5 %}#}
{#                                    {% set end_month_name = 'May' %}#}
{#                                {% elif end_month == 6 %}#}
{#                                    {% set end_month_name = 'Jun' %}#}
{#                                {% elif end_month == 7 %}#}
{#                                    {% set end_month_name = 'Jul' %}#}
{#                                {% elif end_month == 8 %}#}
{#                                    {% set end_month_name = 'Aug' %}#}
{#                                {% elif end_month == 9 %}#}
{#                                    {% set end_month_name = 'Sep' %}#}
{#                                {% elif end_month == 10 %}#}
{#                                    {% set end_month_name = 'Oct' %}#}
{#                                {% elif end_month == 11 %}#}
{#                                    {% set end_month_name = 'Nov' %}#}
{#                                {% elif end_month == 12 %}#}
{#                                    {% set end_month_name = 'Dec' %}#}
{#                                {% endif %}#}
{#                                <i>{{ '(' }} {{ start_month_name }} {{ start_year }}#}
{#                                    - {{ end_month_name }} {{ end_year }} {{ ')' }} </i>#}
{#                            {% endif %}#}
{#                        {% else %}#}
{#                            {% set start_month = member_data.group_start_date.split('-')[0] | int %}#}
{#                            {% set start_year = member_data.group_start_date.split('-')[2] | int %}#}
{##}
{#                            {% set start_month_name = '' %}#}
{##}
{#                            {% if start_month == 1 %}#}
{#                                {% set start_month_name = 'Jan' %}#}
{#                            {% elif start_month == 2 %}#}
{#                                {% set start_month_name = 'Feb' %}#}
{#                            {% elif start_month == 3 %}#}
{#                                {% set start_month_name = 'Mar' %}#}
{#                            {% elif start_month == 4 %}#}
{#                                {% set start_month_name = 'Apr' %}#}
{#                            {% elif start_month == 5 %}#}
{#                                {% set start_month_name = 'May' %}#}
{#                            {% elif start_month == 6 %}#}
{#                                {% set start_month_name = 'Jun' %}#}
{#                            {% elif start_month == 7 %}#}
{#                                {% set start_month_name = 'Jul' %}#}
{#                            {% elif start_month == 8 %}#}
{#                                {% set start_month_name = 'Aug' %}#}
{#                            {% elif start_month == 9 %}#}
{#                                {% set start_month_name = 'Sep' %}#}
{#                            {% elif start_month == 10 %}#}
{#                                {% set start_month_name = 'Oct' %}#}
{#                            {% elif start_month == 11 %}#}
{#                                {% set start_month_name = 'Nov' %}#}
{#                            {% elif start_month == 12 %}#}
{#                                {% set start_month_name = 'Dec' %}#}
{#                            {% endif %}#}
{#                            <i> {{ '(' }} Since {{ start_month_name }} {{ start_year }} {{ ')' }} </i>#}
{#                        {% endif %}#}
{#                    </td>#}
{#                </tr>#}
{#            {% endif %}#}
            {% if "academic_role" in member_data and member_data.academic_role and member_data.academic_role != "" and not member_data.academic_role.strip().lower().startswith("enter") %}
                <tr>
                    <th scope="row">Primary Role:</th>
                    <td>{{ member_data.academic_role }}</td>
                </tr>
            {% endif %}
{#            {% if "secondary_role" in member_data and member_data.secondary_role != "" and not member_data.secondary_role.strip().lower().startswith("enter") %}#}
{#                <tr>#}
{#                    <th scope="row">Secondary Role:</th>#}
{#                    <td>{{ member_data.secondary_role }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if "current_institute" in member_data and member_data.current_institute != "" and not member_data.current_institute.strip().lower().startswith("enter") %}#}
{#                <tr>#}
{#                    <th scope="row">Current Institute:</th>#}
{#                    <td>{{ member_data.current_institute }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{##}
{#                        <!--#}
{##}
{##}
{#                {% if member_data.group_end_date %}#}
{##}
{#                            {% if "group_end_date" in member_data and member_data.group_end_date != "" and not member_data.group_start_date.strip().lower().startswith("enter") %}#}
{#                        {% set start_month = member_data.group_start_date.split('-')[0] | int %}#}
{#                        {% set start_year = member_data.group_start_date.split('-')[2] | int %}#}
{#                        {% set end_month = member_data.group_end_date.split('-')[0] | int %}#}
{#                        {% set end_year = member_data.group_end_date.split('-')[2] | int %}#}
{##}
{#                        {% set start_month_name = '' %}#}
{#                        {% set end_month_name = '' %}#}
{##}
{#                        {% if start_month == 1 %}#}
{#                            {% set start_month_name = 'Jan' %}#}
{#                        {% elif start_month == 2 %}#}
{#                            {% set start_month_name = 'Feb' %}#}
{#                        {% elif start_month == 3 %}#}
{#                            {% set start_month_name = 'Mar' %}#}
{#                        {% elif start_month == 4 %}#}
{#                            {% set start_month_name = 'Apr' %}#}
{#                        {% elif start_month == 5 %}#}
{#                            {% set start_month_name = 'May' %}#}
{#                        {% elif start_month == 6 %}#}
{#                            {% set start_month_name = 'Jun' %}#}
{#                        {% elif start_month == 7 %}#}
{#                            {% set start_month_name = 'Jul' %}#}
{#                        {% elif start_month == 8 %}#}
{#                            {% set start_month_name = 'Aug' %}#}
{#                        {% elif start_month == 9 %}#}
{#                            {% set start_month_name = 'Sep' %}#}
{#                        {% elif start_month == 10 %}#}
{#                            {% set start_month_name = 'Oct' %}#}
{#                        {% elif start_month == 11 %}#}
{#                            {% set start_month_name = 'Nov' %}#}
{#                        {% elif start_month == 12 %}#}
{#                            {% set start_month_name = 'Dec' %}#}
{#                        {% endif %}#}
{##}
{#                        {% if end_month == 1 %}#}
{#                            {% set end_month_name = 'Jan' %}#}
{#                        {% elif end_month == 2 %}#}
{#                            {% set end_month_name = 'Feb' %}#}
{#                        {% elif end_month == 3 %}#}
{#                            {% set end_month_name = 'Mar' %}#}
{#                        {% elif end_month == 4 %}#}
{#                            {% set end_month_name = 'Apr' %}#}
{#                        {% elif end_month == 5 %}#}
{#                            {% set end_month_name = 'May' %}#}
{#                        {% elif end_month == 6 %}#}
{#                            {% set end_month_name = 'Jun' %}#}
{#                        {% elif end_month == 7 %}#}
{#                            {% set end_month_name = 'Jul' %}#}
{#                        {% elif end_month == 8 %}#}
{#                            {% set end_month_name = 'Aug' %}#}
{#                        {% elif end_month == 9 %}#}
{#                            {% set end_month_name = 'Sep' %}#}
{#                        {% elif end_month == 10 %}#}
{#                            {% set end_month_name = 'Oct' %}#}
{#                        {% elif end_month == 11 %}#}
{#                            {% set end_month_name = 'Nov' %}#}
{#                        {% elif end_month == 12 %}#}
{#                            {% set end_month_name = 'Dec' %}#}
{#                        {% endif %}#}
{##}
{#                        <tr>#}
{#                            <th scope="row">Duration:</th>#}
{#                            <td>{{ start_month_name }} {{ start_year }} - {{ end_month_name }} {{ end_year }}</td>#}
{#                        </tr>#}
{#                    {% endif %}#}
{#                {% else %}#}
{#                    {% set start_month = member_data.group_start_date.split('-')[0] | int %}#}
{#                    {% set start_year = member_data.group_start_date.split('-')[2] | int %}#}
{##}
{#                    {% set start_month_name = '' %}#}
{##}
{#                    {% if start_month == 1 %}#}
{#                        {% set start_month_name = 'Jan' %}#}
{#                    {% elif start_month == 2 %}#}
{#                        {% set start_month_name = 'Feb' %}#}
{#                    {% elif start_month == 3 %}#}
{#                        {% set start_month_name = 'Mar' %}#}
{#                    {% elif start_month == 4 %}#}
{#                        {% set start_month_name = 'Apr' %}#}
{#                    {% elif start_month == 5 %}#}
{#                        {% set start_month_name = 'May' %}#}
{#                    {% elif start_month == 6 %}#}
{#                        {% set start_month_name = 'Jun' %}#}
{#                    {% elif start_month == 7 %}#}
{#                        {% set start_month_name = 'Jul' %}#}
{#                    {% elif start_month == 8 %}#}
{#                        {% set start_month_name = 'Aug' %}#}
{#                    {% elif start_month == 9 %}#}
{#                        {% set start_month_name = 'Sep' %}#}
{#                    {% elif start_month == 10 %}#}
{#                        {% set start_month_name = 'Oct' %}#}
{#                    {% elif start_month == 11 %}#}
{#                        {% set start_month_name = 'Nov' %}#}
{#                    {% elif start_month == 12 %}#}
{#                        {% set start_month_name = 'Dec' %}#}
{#                    {% endif %}#}
{##}
{#                    <tr>#}
{#                        <th scope="row">Duration:</th>#}
{#                        <td>Since {{ start_month_name }} {{ start_year }}</td>#}
{#                    </tr>#}
{#                {% endif %}#}
{#                -->#}

            </tbody>
        </table>
    </section>

    <!-- Research and News -->
    <div class="content-info-in row">
        {% set research_articles = [] %}
        {% set news_articles = [] %}

        {% for article in content %}
            {% if member_id in article.people_involved_ids %}
                {% if article.category != 'News' %}
                    {% set _ = research_articles.append(article) %}
                {% else %}
                    {% set _ = news_articles.append(article) %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if research_articles %}
            <section style="padding-left: 10%; padding-right:10%;">
                <div class="content-gd col-lg-6 mx-auto infotable">
                    <div class="col-lg-7 right-side-bar mt-lg-6 mt-6 ps-lg-5">
                        <aside class="posts p-4">
                            <div style="padding-top: 5%; text-align: center;"
                                 class="title-heading-w3 mx-auto mb-sm-5 mb-4 pb-xl-4">
                                <h3 class="w3l-title-main text-center">Research</h3>
                            </div>
                            <ul class="category">
                                {% for article in research_articles %}
                                    <li>
                                        <a href="../../sub_research/{{ article.category|replace(' ', '_')|lower }}/{{ article.article_id|lower }}.html"
                                           style="width: 100%; display: flex; justify-content: center;">
                                            <span class="fas fa-angle-right"
                                                  style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; padding-right: 5px;"> {{ article.title }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </section>
        {% endif %}
        {% if news_articles %}
            <section style="padding-left: 10%; padding-right:10%;">
                <div class="content-gd col-lg-6 mx-auto infotable">
                    <div class="col-lg-7 right-side-bar mt-lg-0 mt-5 ps-lg-5">
                        <aside class="posts p-4">
                            <div style="padding-top: 5%; text-align: center;"
                                 class="title-heading-w3 mx-auto mb-sm-5 mb-4 pb-xl-4">
                                <h3 class="w3l-title-main text-center">News</h3>
                            </div>
                            <ul class="category">
                                {% for article in news_articles %}
                                    <li>
                                        <a href="../../news/{{ article.article_id|lower }}.html"
                                           style="width: 100%; display: flex; justify-content: center;">
                                            <span class="fas fa-angle-right"
                                                  style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; padding-right: 5px;"> {{ article.title }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}

{% block additional_script %}
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->
{% endblock %}
