{%- macro relativize_link(link) -%}
    {%- if TEMPLATE_LEVEL == 0 -%}
        {{- link -}}
    {%- else -%}
        {%- set parts = [] -%}
        {%- for idx in range(TEMPLATE_LEVEL) -%}
            {%- do parts.append("..") -%}
        {%- endfor -%}
        {{- parts|join("/") ~ "/" ~ link -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro format_years(row) -%}
    {%- if row.get("start_date") is not none -%}
        {{ row["start_date"].year }} -
        {%- if row.get("end_date") is not none -%}
            {{ row["end_date"].year }}
        {%- else -%}
            Present
        {%- endif -%}
    {%- elif row.get("date") is not none -%}
        {{ row["date"].year }}
    {%- endif -%}
{%- endmacro -%}