{% extends 'base.html.j2' %}

{% block title %}
    News | {{ general.website_title }}
{% endblock %}

{% block additional_fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block additional_style %}
    <div id="_bsa_srv-CKYI627U_0"></div>
    <div id="_bsa_srv-CKYI653J_1"></div>
    <!-- Buttons-->
    <style>
        .button {
            padding: 15px 25px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #7750bb;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .button:hover {
            background-color: #9669e5
        }

        .button:active {
            background-color: #a087cc;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        @media (min-width: 998px) {
            .shift {
                padding-left: 17%;
            }
        }

        .heading {
            color: #000;
            /* Default color */
            text-decoration: none;
        }

        h5:hover {
            color: #673ab7 !important;
            text-decoration: underline;
        }

        .badge {
            display: inline-block;
            background-color: #673ab7; /* Background color of the badge */
            color: white;          /* Text color */
            padding: 4px 8px;     /* Padding around the text */
            border-radius: 5px;   /* Rounded corners *
            text-align: center;    /* Center the text */
        }

        .badge-tray {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
            overflow: auto;
            overflow-x: auto;
        }

        .heading:hover {
            background-image: linear-gradient(to left, #673ab7, #673ab7);
            /* Gradient from right to left */
            -webkit-background-clip: text;
            /* Apply gradient as text color */
            -webkit-text-fill-color: transparent;
            /* Make text transparent */
        }
    </style>
{% endblock %}

{% block content %}
    <!-- about banner -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-people py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="banner-info-grid px-md-5" style="margin-top: 2%;">
                    <h2 class="w3l-title-breadcrumb mb-3">News</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- //about banner -->

    <!-- Blog Section -->
    <section class="w3l-blog shift">
        <div class="blog py-5" id="Newsblog">
            <div class="container py-lg-5 py-md-4 py-2">
                {% for news in content.itertuples() %}
                <div class="row" style="padding-top: 5%;">
                    <div class="col-lg-6 col-md-6 item" style="width: 520px;">
                        <div class="card" id="card">
                            <div class="card-header p-0 position-relative">
                               <a class="zoom d-flex" href="../../news/{{ news.article_id|lower }}.html">
                                    <img style="width: 520px; height: 330px" class="card-img-bottom d-block"
                                        id="news-cover-image" src="{{ news.cover_image }}" alt="array">
                                </a>
                                <div class="date">
                                    <p>{{ news["date"].strftime('%d') }}{% if news["date"].day % 10 == 1 and news["date"].day != 11 %}st{% elif news["date"].day % 10 == 2 and news["date"].day != 12 %}nd{% elif news["date"].day % 10 == 3 and news["date"].day != 13 %}rd{% else %}th{% endif %} {{ news["date"].strftime('%b, %Y') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="card">
                            <div class="card-body blog-details" style="max-height: 330px">
                                <div class='badge-tray'>
                                    {%for tag in news['tags']%}
                                    {%if tag.lower() != "news"%}
                                    <span class="badge">{{tag.title()}}</span>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                                <a class="zoom d-blog" href="../../news/{{ news.article_id|lower }}.html">
                                    <h5 style="font-weight: bold; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical; font-size:19px; height:auto;">
                                    {{ news.title }}
                                    </h5>
                                </a>
                                {#
                                <hr style="border-top: 1px dotted rgba(143, 143, 143);">
                                <div class="price-review mb-1 align-items-center">
                                    <div style="font-size: 13px; overflow: auto; height:110px">
                                        <div>{{ news['short_description'] | safe}}</div>
                                    </div>
                                </div>
                                #}
                            </div>
                            {% if "achievement" in news['tags']%}
                                <div class="card-footer">
                                {% set author_id = news['author_id'] %}
                                {% if author_id in member_data%}
                                    {% set member = member_data[author_id]%}
                                    {% set author_name = member['full_name'] %}
                                    <div class="author align-items-center">
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="../members/{{ author_id }}/{{ author_id }}.html" target="_blank">{{ author_name }}</a>
                                            </li>
                                        </ul>
                                        <a href="../members/{{ author_id }}/{{ author_id }}.html" class="post-author ms-auto" target="_blank">
                                            <img src="../members/{{ author_id }}/{{ member['image_path'] }}" alt="Author's Image" class="img-fluid rounded-circle">
                                        </a>
                                    </div>
                                {% endif %}
                                </div>
                            {% else %}
                            <div class="card-footer">
                                <div>
                                    <ul class="blog-meta">
                                        <li>
                                            <a style="font-size:10px">Contributer(s):</a>
                                        </li>
                                        {% for person_id in news.people_involved_ids %}
                                        {% if person_id in member_data %}
                                            {% set member_info = member_data[person_id] %}
                                            {% set member_name = member_info.get('full_name') %}
                                        <li>
                                            <a href="members/{{ person_id }}/{{ person_id }}.html" target="_blank">
                                                <p style="font-size: 10px; height:35px"> {{member_name}}</p>
                                            </a>
                                        </li>
                                            {% elif person_id.strip().split(' ')[-1].strip().lower().startswith("http://") or
                                            person_id.strip().split(' ')[-1].strip().lower().startswith("https://") %}
                                            <li>
                                                <a href="{{ person_id.strip().split(' ')[-1] }}" target="_blank"
                                                    style="font-size: 10px;">
                                                    {{ person_id.strip().split(' ')[0] }}
                                                </a>
                                            </li>
                                        
                                        {% else %}
                                        <li>
                                            <a style="font-size: 10px;">
                                                {{ person_id }}
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if not loop.last %}
                                        <li>, </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- //Blog Section -->
{% endblock %}

{% block additional_script %}
    <script>
    const allCards = document.querySelectorAll('[id=card]');
    allCards.forEach(cover => {
        var coverImage = cover.querySelector('#news-cover-image')
        var rgb = getAverageRGB(coverImage);
        cover.style.backgroundColor = 'rgb('+rgb.r+','+rgb.g+','+rgb.b+')';
    })
    function getAverageRGB(imgEl) {
        var blockSize = 5, // only visit every 5 pixels
            defaultRGB = {r:0,g:0,b:0}, // for non-supporting envs
            canvas = document.createElement('canvas'),
            context = canvas.getContext && canvas.getContext('2d'),
            data, width, height,
            i = -4,
            length,
            rgb = {r:0,g:0,b:0},
            count = 0;
            
        if (!context) {
            return defaultRGB;
        }
        
        height = canvas.height = imgEl.naturalHeight || imgEl.offsetHeight || imgEl.height;
        width = canvas.width = imgEl.naturalWidth || imgEl.offsetWidth || imgEl.width;
        
        context.drawImage(imgEl, 0, 0);
        
        try {
            data = context.getImageData(0, 0, width, height);
        } catch(e) {
            /* security error, img on diff domain */alert('x');
            return defaultRGB;
        }
        
        length = data.data.length;
        
        while ( (i += blockSize * 4) < length ) {
            ++count;
            rgb.r += data.data[i];
            rgb.g += data.data[i+1];
            rgb.b += data.data[i+2];
        }
        
        // ~~ used to floor values
        rgb.r = ~~(rgb.r/count);
        rgb.g = ~~(rgb.g/count);
        rgb.b = ~~(rgb.b/count);
        return rgb;            
    }

    /*Read more functionality*/
        $(function () {
        var maxL = 150;
        $('.description').each(function () {
            var text = $(this).text();
            if (text.length > maxL) {
            var begin = text.substr(0, maxL),
                end = text.substr(maxL);
            $(this).html(begin)
                .append($('<span class="hidden"/>').html(end))
                .append($('<a class="readmore"/>').html(' ...Read more')); 
            }
        });

        $('.readmore').on('click', function () {
            var hiddenContent = $(this).prev('.hidden');
var thisDescription = $(this).parent(); // Reference parent container

    if (hiddenContent.css('display') === 'none') {
      // Toggle overflow and text on click (Read more)
      hiddenContent.slideToggle(400);
      thisDescription.css('overflow', 'auto'); // Set overflow: auto
      $(this).text('Read less');
    } else {
      // Toggle overflow and text on click (Read less)
      hiddenContent.slideToggle(400);
      thisDescription.css('overflow', 'hidden'); // Set overflow: hidden
      $(this).text(' ...Read more');
    }
  });
});
    </script>
{%endblock%}