<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>News | {{ general.website_title }} </title>
	<!-- google-fonts -->
	<link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
	<link href="//fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap" rel="stylesheet">
	<!-- //google-fonts -->
	<!-- Template CSS Style link -->
	<link rel="stylesheet" href="../assets/css/style-liberty.css">
</head>
<body>

	<!--header-->
	<header id="site-header" class="fixed-top">
		<div class="container">
			<nav class="navbar navbar-expand-lg stroke">
				<h1>
					<a class="navbar-brand" href="../index.html">
						<!--span class="fa fa-lightbulb"></span--> {{general.logo_title}}
					</a>
				</h1>
				<!-- if logo is image enable this   
                        <a class="navbar-brand" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
				<button class="navbar-toggler collapsed bg-gradient" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
					<span class="navbar-toggler-icon fa icon-close fa-times"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav ms-lg-auto">
						{% for page in general["navigation_bar"] %}
						{% if page not in general %}
						<!--<li class="nav-item active">-->
						{% if page == "index" %}
						<li class="nav-item">
							<a class="nav-link" href="../{{ page_link(page) }}.html">Home<span
									class="sr-only">(current)</span></a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="../{{ page_link(page) }}.html">{{ page }} <span
									class="sr-only">(current)</span></a>
						</li>
						{% endif %}
						{% else %}
						{% if page in general %}
						<li class="nav-item">
							<a class="nav-link dropdown-toggle" href="../{{ page_link(page) }}.html" id="navbarDropdown"
								role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ page }} <span class="fas fa-angle-down"></span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% for sub_page in general[page] %}
								<a class="dropdown-item"
									href="../sub_research/{{ page_link(sub_page)|lower }}.html">{{sub_page}}</a>
								{% endfor %}
							</div>
						</li>
						{% endif %}
						{% endif %}
						{% endfor %}
					</ul>
				</div>
				<!-- toggle switch for light and dark theme -->
				<div class="cont-ser-position">
					<nav class="navigation">
						<div class="theme-switch-wrapper">
							<label class="theme-switch" for="checkbox">
								<input type="checkbox" id="checkbox">
								<div class="mode-container">
									<i class="gg-sun"></i>
									<i class="gg-moon"></i>
								</div>
							</label>
						</div>
					</nav>
				</div>
				<!-- //toggle switch for light and dark theme -->
			</nav>
		</div>
	</header>
	<!--//header-->
	<!-- blog single banner -->
	<section class="w3l-about-breadcrumb text-center">
		<div class="breadcrumb-bg breadcrumb-bg-about py-5">
			<div class="container py-lg-5 py-md-4">
				<div class="banner-info-grid px-md-5">
					<h2 class="w3l-title-breadcrumb mb-3">News</h2>
					<p class="inner-page-para px-lg-5">Our Updates</p>
				</div>
			</div>
		</div>
	</section>
	<!-- //blog single banner -->
	<!-- Blog Section -->
	<section class="blog-post-main blog">
		<div class="blog-content-inf py-5">
			<div class="container py-lg-5 py-md-4 py-2">
				<div class="blog-posthny-info mx-auto" style="max-width:800px">
					<div class="style-title position-relative" style="padding-bottom: 2%;">
						<h3 class="title-style mb-sm-3 mb-2">{{ news.name }}</h3>
					</div>
					<div class="single-post-image mb-4">
						<ul class="blog-author-date mt-3 d-flex align-items-center mb-4">
							{% for key in [faculty, post_docs, grads, undergrads, research_engineers, researchers]
							%}
							{% for person in key %}
							{% if person.id == news.author_id%}

							<li class="circle avatar"><img src="../members/{{ news.author_id}}/{{ person.image_path }}"
									class="img-fluid" alt=""></li>
							<li>News Article by <a href="../members/{{ news.author_id }}/{{ news.author_id}}.html">{{
									person.first_name }} {{ person.last_name }}</a></li>
							<li class="single-date">{{news.article_date}}</li>
							{%endif%}
							{%endfor%}
							{%endfor%}
						</ul>
					</div>


					<img src="{{ news.cover_image }}" class="img-fluid img-responsive" alt="blog-post-image">
					<div class="single-post-content" style="padding-top: 4.2%;">
						<p class="mb-4"> {{ news.long_description }}</p>
					</div>
					<div class="content-text-9">
						<div class="single-post-content-1 row mt-5 no-gutters">
							{% for key, value in news.content.items() %}
							{% if key.startswith('img') %}
							<div class="single-post-image mb-4"
								style="max-width:fit-content; display: block; margin: auto;">
								<img src="../{{ value }}" class="img-fluid img-responsive mt-3" alt="blog-post-image">
							</div>
							{% elif key.startswith('para') %}
							<div class="single-post-content">
								<p class="mt-md-0 mt-4 ml-md-4 ml-0">{{ value }}</p>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>

					<!-- right side bar -->
					<div class="col-lg-10 right-side-bar mt-lg-0 mt-5 ps-lg-5" style="padding-top: 5%;">
						<div class="row">
							{% if news.people_involved_ids %}
							<div class="col text-center">
								<aside class="posts p-6">
									<h3 class="aside-title">People Associated</h3>
									<ul class="category">
										{% for key_id in news.people_involved_ids%}
										{% for key in [faculty, post_docs, grads, undergrads, research_engineers,
										researchers]
										%}
										{% for person in key %}
										{% if person.id == key_id%}
										<li>
											<a href="../members/{{ person.id }}/{{ person.id }}.html" target="_blank">
												<span class="fas fa-user"></span>{{ person.first_name}} {{
												person.last_name}}
											</a>
										</li>
										{%endif%}
										{% endfor %}
										{% endfor %}
										{% if key_id.strip().split(' ')[-1].strip().lower().startswith("http://") or
										key_id.strip().split(' ')[-1].strip().lower().startswith("https://") %}
										<li>
											<a href="{{ key_id.strip().split(' ')[-1]}}" target="_blank">
												<span class="fas fa-external-link-alt"></span>{{ ''.join(key_id.strip().split(' ')[0:-1]) }}
											</a>
										</li>
										{% endif %}
										{% endfor%}
									</ul>
								</aside>
							</div>
							{%endif%}
							{% if news.links %}
							<div class="col text-center">
								<aside class="posts p-6">
									<h3 class="aside-title">Refrences & Resources</h3>
									<ul class="category">
										{% for link_id in news.links%}
										{% if link_id.strip().split(' ')[-1].strip().lower().startswith("http://") or
										key_id.strip().split(' ')[-1].strip().lower().startswith("https://") %}
										<li>
											<a href="{{ link_id.strip().split(' ')[-1]}}" target="_blank">
												<span class="fas fa-external-link-alt"></span>{{
												''.join(link_id.strip().split(' ')[0:-1]) }}
											</a>
										</li>
										{% endif %}
										{% endfor%}
									</ul>
								</aside>
							</div>
							{%endif%}
						</div>
						<!-- //right side bar -->

					</div>

				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- //Blog Section -->
	<!-- footer block -->
	<footer class="w3l-footer-29-main">
		<div class="footer-29 pt-5 pb-4">
			<div class="container pt-md-4">
				<div class="row footer-top-29 d-flex justify-content-center justify-md-start">
					<div class="col-lg-6 col-md-6 footer-list-29">
						<h6 class="footer-title-29">Contact Info </h6>
						{% if general.address != "" %}
						<p class="mb-2 pe-xl-5">Address : {{ general.address }}
						</p>
						{% endif %}
						{% if general.phone != "" %}
						<p class="mb-2">Phone Number : <a href="tel:{{ general.address }}">{{ general.phone }}</a></p>
						{% endif %}
						{% if general.email != "" %}
						<p class="mb-2">Email : <a href="mailto:{{ general.email }}">{{ general.email }}</a></p>
						{% endif %}
					</div>
					<div class="col-lg-2 col-md-3 col-12 footer-list-29 mt-md-0 mt-4">
						<ul>
							<h6 class="footer-title-29">Quick Links</h6>
							{% for link_text, link_url in general.useful_links.items() %}
							<li><a href="{{ link_url }}" target="_blank">{{ link_text }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<!-- copyright -->
				<p class="copy-footer-29 text-center mt-5 pb-2">{{general.footer_message}} <br>
					Template by <a href="https://w3layouts.com/" target="_blank">W3Layouts</a>
				</p>
				<!-- //copyright -->
			</div>
		</div>
	</footer>
	<!-- //footer block -->
	<!-- Js scripts -->
	<!-- move top -->
	<button onclick="topFunction()" id="movetop" title="Go to top" style="display: none;">
		<span class="fas fa-level-up-alt" aria-hidden="true"></span>
	</button>
	<script>
		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function () {
			scrollFunction()
		};

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				document.getElementById("movetop").style.display = "block";
			} else {
				document.getElementById("movetop").style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
	<!-- //move top -->
	<!-- common jquery plugin -->
	<script src="../assets/js/jquery-3.3.1.min.js"></script>
	<!-- //common jquery plugin -->
	<!-- theme switch js (light and dark)-->
	<script src="../assets/js/theme-change.js"></script>
	<!-- //theme switch js (light and dark)-->
	<!--/stats-number-counter-->
	<script src="../assets/js/jquery.waypoints.min.js"></script>
	<script src="../assets/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();

	</script>
	<!--//stats-number-counter-->
	<!--/owlcarousel-->
	<script src="../assets/js/owl.carousel.js"></script>
	<!-- //tesimonials-->
	<script>
		$(document).ready(function () {
			$("#owl-demo1").owlCarousel({
				loop: true,
				nav: false,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					736: {
						items: 1,
						nav: false
					}
				}
			})
		})

	</script>
	<!-- //tesimonials-->
	<!-- MENU-JS -->
	<script>
		$(window).on("scroll", function () {
			var scroll = $(window).scrollTop();

			if (scroll >= 80) {
				$("#site-header").addClass("nav-fixed");
			} else {
				$("#site-header").removeClass("nav-fixed");
			}
		});

		//Main navigation Active Class Add Remove
		$(".navbar-toggler").on("click", function () {
			$("header").toggleClass("active");
		});
		$(document).on("ready", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
			$(window).on("resize", function () {
				if ($(window).width() > 991) {
					$("header").removeClass("active");
				}
			});
		});
	</script>
	<!-- //MENU-JS -->
	<!-- disable body scroll which navbar is in active -->
	<script>
		$(function () {
			$('.navbar-toggler').click(function () {
				$('body').toggleClass('noscroll');
			})
		});
	</script>
	<!-- //disable body scroll which navbar is in active -->
	<!--bootstrap-->
	<script src="../assets/js/bootstrap.min.js"></script>
	<!-- //bootstrap-->
	<!-- //Js scripts -->
</body>
</html>