{% extends 'base.html.j2' %}

{% block title %}
    News | {{ general.website_title }}
{% endblock %}

    {% block content %}
		<!-- blog single banner -->
		<section class="w3l-about-breadcrumb text-center">
			<div class="breadcrumb-bg breadcrumb-bg-about py-5">
				<div class="container py-lg-5 py-md-4">
					<div class="banner-info-grid px-md-5">
						<h2 class="w3l-title-breadcrumb mb-3">News</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- //blog single banner -->


		<!-- Blog Section -->
		<section class="blog-post-main blog">
			<div class="blog-content-inf py-5">
				<div class="container py-lg-5 py-md-4 py-2">
					<div class="blog-posthny-info mx-auto" style="max-width:800px">
						{% set project_info = content %}
						{% set author_id = project_info['author_id'] %}
						{% set author_info = member_data[author_id] %}
						{% set author_name = author_info['name'] %}
						
						<div class="style-title position-relative">
							<h3 class="title-style mb-sm-3 mb-2">{{ project_info.title }}</h3>
						</div>
						<div class="single-post-image mb-4">
							<ul class="blog-author-date mt-3 d-flex align-items-center mb-4">


								<li class="circle avatar"><img
										src="../members/{{ author_id}}/{{ author_info.image_path }}"
										class="img-fluid" alt=""></li>
								<li>Article by <a
										href="../members/{{ author_id }}/{{ author_id }}.html"
										target="_blank">{{ author_name }}</a></li>
								<li>{{ project_info['date'].strftime('%m-%d-%Y') }}</li>
							</ul>
							<img src="../{{ project_info.cover_image }}" class="img-fluid img-responsive"
								
								alt="blog-post-image">

						</div>

						<div class="single-post-content">
							<p class="mb-4"> {{ project_info.long_description }}</p>

						</div>

						<div class="content-text-9">
							<div class="single-post-content-1 row mt-5 no-gutters">
								{% for key, value in project_info.content.items() %}
								{% if key.startswith('img') %}
								<div class="single-post-image mb-4"
									style="max-width:fit-content; display: block; margin: auto;">
									<img src="../{{ value }}" class="img-fluid img-responsive mt-3"
										alt="blog-post-image">
								</div>
								{% elif key.startswith('para') %}
								<div class="single-post-content">
									<p class="mt-md-0 mt-4 ml-md-4 ml-0">{{ value }}</p>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>

						
						<div class="col-lg-10 right-side-bar mt-lg-0 mt-5 ps-lg-5" style="padding-top: 5%;">
							<div class="row">
								{% if project_info.people_involved_ids %}
								<div class="col text-center">
									<aside class="posts p-6" style="overflow-x: scroll;">
										<h3 class="aside-title">People Associated</h3>
										<ul class="category">
											<li>
												{% for person_id in project_info.people_involved_ids %}
												{% if person_id in member_data %}

													{% set member_info = member_data[person_id] %}

													{% set member_name = member_info.get('name') %}

												<a href="../../members/{{ person_id }}/{{ person_id }}.html" target="_blank"
													style="font-size: 15px; display: inline;">
													<span class="fas fa-user"></span> {{ member_name.strip().split(" ")[0] }}
												</a>
												
												{% elif person_id.strip().split(' ')[-1].strip().lower().startswith("http://") or person_id.strip().split(' ')[-1].strip().lower().startswith("https://") %}
														<a href="{{ person_id.strip().split(' ')[-1] }}" target="_blank" style="font-size: 15px;  display: inline;">
															<span class="fas fa-external-link-alt"></span>{{ person_id.strip().split(' ')[0] }}
														</a>
													</li>
											{% else %}
											{{ person_id }}
												{% endif %}
												{% endfor %}
											</li>
										</ul>

									</aside>
								</div>
								{% endif %}
							</div>
						
						<br>
							{% if project_info.links %}
								<div class="col text-center">
									<aside class="posts p-6">
										<h3 class="aside-title">Refrences & Resources</h3>
										<ul class="category">
										{% for link_key, link_value in project_info.links.items() %}
										{% if link_value.strip().lower().startswith("http://") or
										link_value.strip().lower().startswith("https://") %}
										<li>
											<a href="{{ link_value.strip() }}" target="_blank">
												<span class="fas fa-external-link-alt"></span>{{ link_key }}
											</a>
										</li>
										{% endif %}
										{% endfor %}
									</ul>
									</aside>
								</div>
								{%endif%}
							</div>
						</div>
						<!-- //right side bar -->
					</div>
				</div>
			</div>
		</section>
		<!-- //Blog Section -->
    {% endblock %}