    <!--slideshow of images>

        {% if 'media' in person %}
        <h2 style="text-align:center; padding-top:5%;">Media</h2>
        <div class="slider_media">
            {% for media in person.media %}
            {% for key, values in media.items() %}
            {% for value in values %}
            <div class="mySlides_media">
                <h3 style="text-align: center;">{{ value.title }}</h3>
                <img src="{{value.link}}" style="width:100%">
                <p style="text-align:center; "><b style="color: black;"><i>{{ value.caption }}</i></b></p>
                <p style="text-align:center; ">{{ value.about }}</p>
            </div>
            {% endfor %}
            {% endfor %}
            {% endfor %}

            <a class="prev_media" onclick="plusSlides_media(-1)">❮</a>
            <a class="next_media" onclick="plusSlides_media(1)">❯</a>

            {% endif %}
        </div>
        <!-- slideshow of images-->
