{% extends 'base.html.j2' %}

{% block title %}
    Research | {{ general.website_title }}
{% endblock %}

{% block additional_fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block additional_style %}
    <div id="_bsa_srv-CKYI627U_0"></div>
    <div id="_bsa_srv-CKYI653J_1"></div>
    <!-- Buttons-->
    <style>
        .button {
            padding: 15px 25px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #7750bb;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .button:hover {
            background-color: #9669e5
        }

        .button:active {
            background-color: #a087cc;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .heading {
            color: #000;
            /* Default color */
            text-decoration: none;
        }

        .heading:hover {
            background-image: linear-gradient(to left, #673ab7, #673ab7);
            /* Gradient from right to left */
            -webkit-background-clip: text;
            /* Apply gradient as text color */
            -webkit-text-fill-color: transparent;
            /* Make text transparent */
        }
    </style>
{% endblock %}

{% block content %}
    <!-- about banner -->
        <section class="w3l-about-breadcrumb text-center">
            <div class="breadcrumb-bg breadcrumb-bg-about py-5">
                <div class="container py-lg-5 py-md-4">
                    <div class="banner-info-grid px-md-5">
                        <h2 class="w3l-title-breadcrumb mb-3">Our Research</h2>
                    </div>
                </div>
            </div>
        </section>
    <!-- //about banner -->

    <!-- Blog Section -->
        <section class="w3l-blog">
            <div class="blog py-5" id="Newsblog">
                {% set writeup_list = content[(content['category'] == category)] %}
                {% if writeup_list.shape[0] > 0 %}
                <div class="text-center" style="padding-top: 5%;">
                    <h1>{{ category }}</h1>
                    <br>
                    <div class="container py-lg-5 py-md-4 py-2">
                        <div class="row">
                            <p class="mb-4" style="padding-bottom: 3%; text-align:left; font-size: 18px;">{{
                                research[category]['about'] }}</p>
                        </div>
                    </div>
                </div>
                <div class="container py-lg-5 py-md-4 py-2">
                    <div class="row">
                        {% set counter = 0 %}
                        {% for _, writeup in writeup_list.iterrows() %}


                        {% if counter < 3 %} <div class="col-lg-4 col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="{{ category|replace(' ', '_')|lower }}/{{ writeup['article_id']|lower }}.html"
                                        class="zoom d-block">
                                        <img style="max-width: 380px; max-height: 230px;" class="card-img-bottom d-block"
                                            src="../{{ writeup.cover_image }}" alt="array">
                                    </a>
                                    <div class="date">
                                        <p>{{ writeup.date }}</p>
                                    </div>
                                </div>
                                <div class="card-body blog-details" style="max-height: 220px">
                                    <div class="heading">
                                        <a
                                            href="{{ category|replace(' ', '_')|lower }}/{{ writeup['article_id']|lower }}.html">
                                            <h5 class="mb-3"
                                                style="height: 50px; overflow: hidden; display: flex; align-items: center; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; ">

                                                {{ writeup.title }}
                                            </h5>
                                        </a>

                                    </div>
                                    <hr style="border-top: 1px dotted rgba(143, 143, 143);">
                                    <div class="price-review mb-1 align-items-center" style="height: 80px;">

                                        <p
                                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                                            {{ writeup.short_description }}
                                        </p>

                                    </div>

                                </div>
                                <div class="card-footer">
                                    {% set author_id = writeup.author_id %}
                                    {% if author_id %}
                                    {% set member = current_members | selectattr("id", "equalto", author_id) | list | first
                                    %}
                                    {% if member %}
                                    {% set author_name = member['name'] %}
                                    <div class="author align-items-center">
                                        <a href="members/{{ member['id'] }}/{{ member['id'] }}.html" class="post-author"
                                            target="_blank">
                                            <img src="../members/{{ member['id'] }}/{{ member['image_path'] }}"
                                                alt="Author's Image" class="img-fluid rounded-circle">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <span class="meta-value">Article by </span>
                                                <a href="../members/{{ member['id'] }}/{{ member['id'] }}.html"
                                                    target="_blank">{{ author_name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </div>

                            </div>
                    </div>
                    {% set counter = counter + 1 %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            </div>
        </section>
    <!-- //Blog Section -->
{% endblock %}
