{% extends 'base.html.j2' %}

{% block title %}
    Support | {{ general.website_title }} 
{% endblock %}


{% block additional_style %}
    <style>
        .social-icon {
            font-size: 20px;
            margin-top: -23%;
        }

        .external_affiliation {
            background-color: rgb(229, 229, 159);
            inline-size: 100%;

        }
    </style>

    <!-- Rotating card-->

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/css/rotating-card.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block content %}

<!-- about banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-people py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5" style="margin-top: 4%;">
                <h2 class="w3l-title-breadcrumb mb-3">Support</h2>
            </div>
        </div>
    </div>
</section>
<!-- //about banner -->


<!-- Company logos -->

<section class="company-logos ">
    <div class="container py-md-4">
    <p>Our work and achievements are made possible by the invaluable support extended by the following organizations and programs. If you would like to contribute, please contact Wolfgang Kerzendorf at wkerzend@msu.edu</p>
        <div class="row py-5 justify-content-center d-flex align-items-center">
                {% for key, value in support.items() %}
                    <div class="col-lg-2 col-md-3 col-4">
                        <a href={{ value['link'] }} target="_blank">
                            <img src="{{ value['image_path'] }}" alt={{ key }} class="img-fluid">
                        </a>
                    </div>
                {% endfor %}    
        </div>
    </div>
</section>
<!-- //Company logos -->

{% endblock %}

{% block additional_script %}
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <script type="text/javascript">
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();
            $('a.scroll-down').click(function (e) {
                e.preventDefault();
                scroll_target = $(this).data('href');
                $('html, body').animate({
                    scrollTop: $(scroll_target).offset().top - 60
                }, 1000);
            });
        });
        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }
    </script>
{% endblock %}